#   TP 02 - About Data Frames - 2/2
* Written by Alexandre Gazagnes
* Last update: 2024-02-01
* Based on https://www.w3schools.com/r/default.asp

## Load the dataset

In [ ]:

# Url to the csv file
url = "https://raw.githubusercontent.com/AlexandreGazagnes/Unilassalle-Public-Ressources/main/2a-statistical-tests/01-session/database.csv"

In [ ]:
# Local file
fn= "/home/alex/Downloads/my_awsome_db.csv"

In [ ]:
# Load the csv file
df = read.csv(url, header = TRUE, sep = ",", dec = ".")

## Data Discovery

In [ ]:
# head of the csv file
head(df, 5) # first 2 rows

In [ ]:
# str of the csv file
str(df) # compact display of the structure of an R object

In [ ]:
# is.numeric
is.numeric(df$Taille) # TRUE
is.numeric(df$Nom) # TRUE

In [ ]:
# min and max
min(df$Poids) # 1.5
max(df$Poids) # 2.5
min(df$Taille) # 1.5
max(df$Taille) # 2.5
max(df$Taille, na.rm = TRUE) # 2.5

In [ ]:
# Mr Blois
df[df$Nom == "Blois",]

In [ ]:
# Try this
"Coucou" %in% df$Nom

In [ ]:
# Advanced selection
df[df$Sexe == "M" & ( (df$Quart == "Q4") |(df$Quart == "Q1")), ]

In [ ]:
# count the number of elements in each category
table(df$Sexe)

In [ ]:
# ask for the shape of the dataframe
dim(df) # 4 rows and 2 columns

In [ ]:
# ask for the summary of the dataframe
summary(df)

## Answers

In [ ]:
# Calculate the means of the estimates of the teacher's weight (poids) in group D1 (then D2).
mean(df[df$Groupe == "D1",]$Poids, na.rm = TRUE)

In [ ]:
# Calculate the average of the first random numbers (Nombre1) of the students in group D2?
mean(df[df$Groupe == "D2",]$Nombre1, na.rm = TRUE)

In [ ]:
# Estimate the variance of the size (Taille) of the teacher, we will take all the students.
var(df$Taille, na.rm = TRUE)

In [ ]:
# Calculate the median of the sample consisting of the first random number (Nombre1)  between 0 and 99 given by the students (Men=M).
median(df[df$Sexe == "M",]$Nombre1, na.rm = TRUE)

In [ ]:
# Calculate the deciles of the sample consisting of the first random number (Nombre1)  between 0 and 99 given by the students (Men).
quantile(df[df$Sexe == "M",]$Nombre1, na.rm = TRUE)

In [ ]:
# Calculate the coefficients of variation, skewness and kurtosis of the teacher's heights (taille) of all students.
cv(df$Taille, na.rm = TRUE)
skewness(df$Taille, na.rm = TRUE)
kurtosis(df$Taille, na.rm = TRUE)

In [ ]:
# Summarize the series by these main characteristics (function summary).
summary(df)

In [ ]:
# 9) Display the division of the series made up of the second random number (Nombre2)   between 0 and 99 given by the students (Men =M and Women=M) according to the following breakdown:
# ]-1 ; 9], ]9 ; 19], ]19 ; 29], ]29 ; 39], ]39 ; 49], ]49 ; 59], ]59 ; 69], ]69 ; 79], ]79 ; 89], ]89 ; 99].

In [ ]:
# Create the breaks
breaks = seq(-1, 99, 10)

In [ ]:
# Cut the data
df$cut = cut(df$Nombre2, breaks = breaks)

In [ ]:
# Count the number of elements in each category
table(df$cut)

In [ ]:
# Display the distribution of the series made up of the second random number (Nombre2)   between 0 and 99 given by the
# students
hist(df$Nombre2, breaks = breaks, main = "Histogramme de la variable Nombre2", xlab = "Nombre2", ylab = "Fréquence")

In [ ]:
# Give the contingency table for the factors Group (Demi) and Sex.
table(df$Demi, df$Sexe)

In [ ]:
# Calculate the covariance between the first random number (Nombre1) and the second (Nombre2).
cov(df$Nombre1, df$Nombre2, use = "complete.obs")

In [ ]:
# Calculate the correlation coefficient between the first random number (Nombre1)   and the second (Nombre2).
cor(df$Nombre1, df$Nombre2, use = "complete.obs")

In [ ]:
# Calculate the correlation coefficient between the first random number (Nombre1)   and the second (Nombre2).
cor(df$Poids, df$Taille, use = "complete.obs")

In [ ]:
# Sort the dataframe by the column "Poids"
df[order(df$Poids),]

In [ ]:
# Sort the dataframe by the column "Poids" in decreasing order
df[order(df$Poids, decreasing = TRUE),]

In [ ]:
# Sort the dataframe by the column "Poids" and "Taille"
df[order(df$Poids, df$Taille),]

In [ ]:
# Sort the dataframe by the column "Poids" and "Taille" in decreasing order
df[order(df$Poids, df$Taille, decreasing = TRUE),]